@use '../../styles/color.scss' as Color;

.searchResultBox {
  background-color: #ffffff;
  ul {
    width: 100%;
    background-color: #ffffff;

    li {
      background-color: #ffffff;
      margin-top: 10px;
      font-size: 20pt;
      font-weight: bold;
      list-style-type: none;
      color: #707070;
    }
  }
}
